In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from statsmodels.stats.weightstats import ztest as ztest
from scipy.stats import ttest_1samp
from scipy.stats import ttest_ind
from scipy.stats import chi2_contingency

In [2]:
# read the dataset
data = pd.read_csv(r"F:\ICTAK\data sets\Sales_add.csv")

In [3]:
data.head(10)

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402
5,Month-6,Region - A,Manager - B,137163,256948
6,Month-7,Region - C,Manager - C,130625,222106
7,Month-8,Region - A,Manager - A,131140,230637
8,Month-9,Region - B,Manager - C,171259,226261
9,Month-10,Region - C,Manager - B,141956,193735

In [4]:
# summary of the dataset
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 5 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Month                           22 non-null     object
 1   Region                          22 non-null     object
 2   Manager                         22 non-null     object
 3   Sales_before_digital_add(in $)  22 non-null     int64
 4   Sales_After_digital_add(in $)   22 non-null     int64
dtypes: int64(2), object(3)
memory usage: 1008.0+ bytes

#### Null hypothesis_Ho : there is no increase in sales after stepping into digital marketing
#### Alternate hypothesis_Ha : there is increase in sales after stepping into digital marketing

In [8]:
#two sample T-test
t_test, p_value = ttest_ind(data['Sales_before_digital_add(in $)'],data['Sales_After_digital_add(in $)'])

In [9]:
print("P_value =",p_value)

P_value = 2.614368006904645e-16

In [10]:
if p_value < 0.05:
    print("Null hypothesis rejected")
else:
    print("Fail to reject null hypothesis")

Null hypothesis rejected

#### the p_value is less than 0.05, hence we reject the null hypothesis that there is no increase in sales after stepping into digital marketing

### Check whether there is any dependency between 'Region' and 'Manager'
#### Null hypothesis_Ho : there is no dependency between 'Region' and 'Manager'
#### Alternate hypothesis_Ha : there exist a dependency between 'Region and 'Manager'

In [8]:
# chi-square test of independence
c,p,dof,expected = chi2_contingency(pd.crosstab(data['Region'],data['Manager']))

In [9]:
print('p_value =',p)

p_value = 0.5493991051158094

In [10]:
if p < 0.05:
    print("Null hypothesis rejected")
else:
    print("Fail to reject null hypothesis")

Fail to reject null hypothesis

#### the p-value is greater than 0.05, hence we failed to reject the null hypothesis.